<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Document</title>
</head>
<body>
    <div id="app" v-cloak>
        <p>{{ fullName() }}</p>
        <!-- <a v-bind:href="url" target="_blank">Kuukkeliin</a> The same -->
        <a :href="url" target="_blank">Kuukkeliin</a> <!-- The same -->
        <p v-html="raw_url"></p>
        <p v-html="raw_html"></p>
        <p>{{ age }}</p>
        <hr>

        <label>Firts Name</label>
        <input type="text" v-model="firstName"/> 
        <label>Last Name</label>
        <!-- Tapa 1 -->
        <!-- <input type="text" v-model="lastName" />  -->
        <!-- Tapa 2 -->
        <input type="text" :value="lastName" 
          @input="updateLastName('Last name event triggered!', $event)" />

        <!-- v-on and @ are interchangeable -->
        <button type="button" v-on:click="increment">Increment</button> 
        <button type="button" @click="age--">Decrement</button>


    </div>
    <!-- <div id="app2">
        Meitsin nomen est {{ firstName }} ja sukunimi on {{ lastName }}
    </div>     -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>
</html>

